# EditorConfig 
isawesome
<http://EditorConfig.org>
#
top-most EditorConfig file
root 
true
#
All 
Files
$
charset 
utf-8
indent style 
tabs
indent
size  2
insert_final_newline = false
trim_trailing_whitespace = true
# Solution Files
[
*.sln
]
indentstyle tab
# XML Project Files
[
{csproj,vcxproj}{.filters projitems,shproj}]
indent_size = 2
#
Configuration Files
{json,xml,yml,config,props,tagets,nuspec,resx,ruleset}]
  indent_size = 2
# Markdown Files
[*.md]
trim_trailing_whitespace=false
# Web Files
[htm,html,js,ts,css,scss] indent_size = 2
insert_final_newline = true
# Bash Files
$.sh]end_of_line = lf
